html{
    scroll-behavior: smooth;
}
body{
    background-color: #777;
    color: #333;
    scrollbar-color: #777 #777;
}
.container{
    display: grid;
    grid-template-columns: repeat(6 ,minmax(180px,1fr));
    line-height: 1.6;
    grid-template-rows: 670px;
}
.con{
    font-family: suse;
    border-radius: 12px;
    margin: 20px;  
}
.item1{
    grid-column-start: 1;
    grid-column-end: 3;
    background: linear-gradient(to bottom, #263238, #37474F);
    color: #F5F5F5;
    padding: 30px;
    padding-top: 130px;
    text-align: center;
    box-shadow: 7px 7px 7px #1a1a1a;
}
.item1 img{
    clip-path: circle(40%);
    width: 50%;
    height: 30%;
    padding-top: 7px;
    margin-top: -80px;
    
    object-fit: fill;
}
.item2 {
    overflow-y:scroll;
    grid-column-start: 3;
    grid-column-end: 7;
    display: flex;
    justify-content: center;
    background-color: #424242;
    color: #f4f4f4;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.item1 p{
    margin-top: -10px;
    font-size:x-large;
}
.item1 a{
  
    text-decoration: none;
    color: #f4f4f4;
    font-size:larger;
    margin-bottom: -10px;
    display: block;
}
.item1 a:hover{
    color:#999;
}
.item1 div{
    margin-top: 20px;
}
.navigation{
    position:sticky;
    top: -10px;
    justify-content: space-between;
    font-size: larger;
    list-style: none;
    font-weight: bold;
    width: 617px;
    padding: 10px 10px;
    padding-left: 110px;
    padding-right: 25px;
    box-shadow: 4px 4px 4px #1a1a1a;
    border-radius: 8px;
    background: linear-gradient(to right, #00695C, #004D40);
}

.navigation li{
    display: inline;
    margin: 0 15px;
    position: relative;
    color: white;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.navigation li:hover{
    background-color:#777;
    border-radius: 8px;
    cursor:pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1a1a1abe;
    min-width: 130px;
    box-shadow: 0px 8px 16px #1a1a1a(0,0,0,0.2);
    z-index: 1;
    top:100%;
    right: 0; 
}

.dropdown-content a {
    border-radius: 6px;
    color: white;
    padding: 10px 6px;
    text-decoration: none;
    display: block;
    font-size: smaller;
}

.dropdown-content a:hover {
    background-color: #555;
}

.navigation li:hover .dropdown-content {
    display: block;
}

#about-me, .edu{
    margin-top: -10px;
    background-color: #333;
    padding: 20px;
    font-size: large;
    border-radius: 12px;
    box-shadow:  4px 4px 4px #1a1a1a;
}
.shl-mdia {
    display: grid;
grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
justify-content: center;
align-items: center;     
gap: 65px;    
    background-color: #333;
    padding: 20px;
    font-size: large;
    border-radius: 12px;
    box-shadow:  4px 4px 4px #1a1a1a;
}
.shl-mdia iframe{
    border: 2px #222 solid;
    box-shadow: 4px 4px 6px #111 ;
}
.skls{
    margin-top: -10px;
    background-color: #333;
    padding: 5px;
    
    font-size: large;
    border-radius: 15px;
    
    box-shadow:  4px 4px 4px #1a1a1a;
}
[data-tab-content]
{
    display: none;
}
.active[data-tab-content]{
       display: block;
}
.proj {
    margin-top: 5px;
    background-color: #333;
    padding: 15px;
    font-size: large;
    border-radius: 12px;
    box-shadow: 4px 4px 4px #1a1a1a;
}
.proj p{
    margin: -1px;
}
#contact-me {
background-color: #333;
color: white;

padding: 20px;
border-radius: 18px;
box-shadow: 6px 6px 6px #1a1a1a;
margin-top: 20px;
text-align: center;

}


.contact-form {
display: flex;
flex-direction: column;
align-items: center;
}

.contact-form label {
margin-top: 10px;
margin-bottom: 5px;
font-weight: bold;
font-size: large;
color: #f4f4f4;
text-align: left;
width: 100%;
}

.contact-form input, .contact-form textarea {
width: 100%;
padding: 10px;
font-size: 1rem;
border: 1px solid #ccc;
border-radius: 8px;
margin-left: 5px;
margin-right: 5px;
margin-bottom: 15px;
background-color: #555;
color: white;
box-shadow: 2px 2px 5px #1a1a1a;
}



.contact-form textarea {
height: 150px;
}

.send-btn {
padding: 10px 20px;
font-size: large;
color: white;
background: linear-gradient(to right, #00695C, #004D40);
border-radius: 10px;
cursor: pointer;
font-weight: bold;
border: none;
box-shadow: 3px 3px  5px #1a1a1a;
transition: transform 0.5s, box-shadow 0.5s, bacground-color 0.5s, color 0.4s;
}

.send-btn:hover {
background-color:#666;
box-shadow:  5px 5px 7px #1a1a1a;
transform: translateY(-5px) scale(1.1);
color: white;
}